footer {
	position: relative;
	height: 140px;
	background-image: url(../images/header/bg-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 80%;
	background-color: @bg-color-light;
	color: @text-color-white;
	z-index: 1;
}

footer::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: @bg-color-dark-fade;
	z-index: 2;
}

.footer__content {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 0 40px;
	z-index: 5;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 30px;
}

.footer__logo {max-width: 70px}

.footer__info-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.footer__info-desc-title {
	margin: 0 0 10px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.3px;

	@media (min-width: 1080px) {font-size: 20px;}
}

.footer__info-desc-text {
	font-size: 16px;
	font-weight: 400;
}
