header {
	position: relative;
	height: 100vh;
	background-color: @bg-color-light;
	color: @text-color-white;

	@media (min-width: 480px) {
		background-image: url(../images/header/bg-img.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

header::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: @bg-color-dark-fade;
}

.header__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin: 30px auto 100px;
	padding: 0 15px;
	z-index: 3;

	@media (min-width: 480px) {padding: 0 30px;}

	@media (min-width: 1024px) {
		max-width: 1400px;
		margin: 30px auto 200px;
	}
}

.header__logo {max-width: 70px;}

// header__info

.header__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header__info-desc {
	margin: 0 0 40px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;

	@media (min-width: 480px) {font-size: 20px;}
	@media (min-width: 768px) {font-size: 28px;}
	@media (min-width: 1024px) {font-size: 36px;}
}

.header__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	
	@media (min-width: 480px) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	@media (min-width: 480px) {width: 80%;}
	@media (min-width: 640px) {width: 60%;}
	@media (min-width: 768px) {width: 50%;}
}

// scroll down

.header__scroll {
	position: absolute;
	width: 30px;
	left: 50%;
	bottom: 50px;
	transform: translateX(-50%);

	@media (min-width: 768px) {display: none;}
}