.portfolio {
	padding: 150px 0 150px;
	background-color: #98bdd0;
	color: #fff;
}

.portfolio__title {
	margin: 0 0 70px;
	text-align: center;
}

.portfolio__filter {
	display: flex;
	justify-content: space-between;
	max-width: 65%;
	margin: 0 auto 45px;
}

.portfolio__filter-item {font-size: 22px;}

.portfolio__card {
	max-width: 46%;
	margin: 0 0 50px;
	transition: none;
}

.portfolio__card-img {
	margin: 0 0 20px;

	img {
		height: 320px;
		background-color: #417793;
	}
}

.portfolio__card-title {margin: 0 0 20px;}

.portfolio__card-text {
	font-size: 20px;
	font-weight: 400;
	text-align: justify;
}
